/* Tells the entire page to get rid of margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --primColor: #b3ccff;
    --secColor: #804d00;
}

/* Header Begin */
header {
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--primColor);
    height: 600px;
    justify-content: space-around;
}

header h1 {
    text-align: center;
    padding: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secColor);
    padding: 7px;
}

header nav ul li a:hover {
    background-color: var(--secColor);
    color: var(--primColor);
    padding: 7px;
    border-radius: 2px;

}
/* End Header */

/* Start About Me */
.about {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--secColor);
    border-bottom: 1px solid var(--secColor);
}

.about h2 {
    padding: 20px;
}

.titlePic {
    display: flex;
    flex-direction: column;
}

img {
    height: 400px;
    margin: 20px 50px;
    border: 1px solid black;
    
}

.about p {
    display: flex;
    flex: wrap;
    padding: 10%;
    margin: 0 auto;
    line-height: 1.3;
    font-size: 16px;
}
/* End About Me */

/* Start My Work */
.work {
    display: flex;
    padding: 20px;
    background-color: var(--primColor)
}

.all-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35%;
}

.top-two {
    display: flex;
}

.bottom-two {
    display: flex;
}